<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Address</h3>

        <p>West Valley City, UT 84118</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "8018081375" %></p>

        <h3>Email</h3>

        <p><a href="mailto:kalani729@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
        </div>

    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48412.603284603516!2d-112.04218585769024!3d40.6786463526389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528cddfa3588b3%3A0xf57b74998d78ace5!2sWest+Valley+City%2C+UT!5e0!3m2!1sen!2sus!4v1502233145501" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

