<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Address</h3>

    <p>Island Ridge Drive, West Valley City, UT 84118</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "8018081375" %></p>

    <h3>Email</h3>

    <p><a href="mailto:kalani729@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
    </div>

<div class="col-md-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.882126271507!2d-112.02773948457477!3d40.65452867933819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528d96614ec345%3A0x8b2783bec455b696!2sLake+Ridge+Drive%2C+West+Valley+City%2C+UT+84118!5e0!3m2!1sen!2sus!4v1501187633918" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>